.header li,a{
    display: inline-block;
    padding: 20px 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.header li,a:hover{
    color: aqua;
}
.header{
    background: #282c34;
}