.container {
    width: 1200px;
    margin: 0 auto;
}
.Block{
    display: flex;
    justify-content: space-between;
}
.home{
    border: 1px solid #000;
    width: 33%;
    margin-left: 10px;
    padding: 10px;
    background: #ccc;
    margin-top: 30px;

}